.SignIn .card-signin {
    border: 0;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.SignIn .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 2.5rem;
    font-family: 'Pacifico', 'cursive';
}

.SignIn .card-body {
    padding: 2rem;
    background: var(--blue-grey);
    color:white;
}
.btn-signin {
    letter-spacing: .08rem;
}

.SignIn >.btn-link{
    text-decoration: none;
}
