.NavBarRoot {
    font-size: 1rem;
}
.NavBarRoot .logo-img{
    max-width: 50% !important;
}

@media only screen and (min-width: 100px) {
    .NavBarRoot {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 768px) {
    .NavBarRoot {
        font-size: 1.3rem;
    }
}

.NavBarRoot .Navbar{
    top:100px;
    font-family: 'Anton', sans-serif;
}
.NavBarRoot .Laundry-Brand{
    font-family: 'Pacifico', cursive;
}

.NavBarRoot .nav-link{
    font-family: 'Righteous', cursive;
}

.NavBarRoot .signout{
    cursor: pointer;
}

