footer {
    color: white;
}

footer .footer-copyright {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

footer h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

footer a {
    color: #d2d1d1;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    text-decoration: none;
    color: var(--bright-blue);
}

footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

footer .social-networks a {
    font-size: 32px;
    padding: 10px;
    transition: 0.2s;
}

footer .social-networks a:hover {
    text-decoration: none;
}

footer .facebook:hover {
    color: var(--facebook-bg);
}

footer .twitter:hover {
    color: var(--twitter-bg);
}

footer .btn {
    color: white;
    background-color: var(--bright-red);
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    line-height: 25px;
    transition: ease-in 0.3s ;
}

footer .btn:hover {
    transform: scale(1.1);
    color: white;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


.Laundry-Brand{
    font-family: 'Pacifico', cursive;
}