.DashBoard{
    color: var(--bright-blue);
    font-family:Righteous, sans-serif;
    padding: 0 3% 0 3%;
}

.DashBoard .greeting{
    font-family:Pacifico, sans-serif;
    font-size: 3rem;
    text-align: center;
}


.DashBoard .dash-title-text{
    font-family: Anton ,sans-serif;
    color: var(--bright-blue);
}

.DashBoard .orders-col{
    border:1px solid #2f89fc;
    border-radius: 2rem;
    background: #283148;
}