.app-container{
    background: var(--app-bg);
    min-height: 100%;
}

:root{
    --bright-red:#ff165d;
    --bright-blue:#00aced;
    --facebook-bg:#0077e2;
    --twitter-bg:#00aced;
    --faded-blue:#384259;
    --app-bg:#252a34;
    --light-blue:#defcfc;

    --light-grey:#333333;
    --blue-grey:#303841;
}

/*--bright-blue:#3490de;*/