#greeting{
    font-size: 5rem;
    font-family: Righteous, sans-serif;
}

.section-title{
    font-family: 'Anton', sans-serif;
    font-size: 3.5rem;
    color:var(--bright-red);
}

/*.time-range{*/
    /*color:white!important;*/
    /*background-color: white !important;*/
/*}*/